.wrapper {
    background-color: rgb(245, 245, 245);
    width: 100%;
    min-height: 100vh;

    .cover {
        width: 100%;
        padding: 30px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .itemList {
        margin: 10px 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px
    }
}