* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  .red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: relative;
  }
  .green-dot {
    width: 10px;
    height: 10px;

    background-color: rgb(0, 255, 85);
    border-radius: 50%;
    position: relative;
  }
  .space-green {
    padding: 5px;

    color: rgb(0, 255, 85);
  }
  .space-red {
    padding: 5px;

    color: red;
  }
  .editbtn{
    color: #3498db;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}
.colortext{
    color: red;
    cursor: pointer;
    font-size: 20px;
    margin: 5px;
}
}
